<ul class="comments">
  <% if comments.empty? %>
    <li>No comments!</li>
  <% else %>
    <% comments.each do |comment| %>
      <li>
        <b><%= comment.author.name %>: </b>
        <span><%= comment.text %></span>
        <% if current_user && current_user == comment.author && current_page?(user_post_path(comment.author, post)) %>
          <%= button_to 'Delete', user_post_comment_path(comment.author, post, comment), method: :delete, class: 'delete' %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>