.form-container {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.form-container label {
  font-weight: bold;
  font-size: 1.5rem;
}

.form-container input[type=text],
.form-container input[type=email],
.form-container input[type=password] {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.2rem;
  padding: 10px;
}

.form-container textarea {
  padding: 10px;
}

.create-post {
  border: 2px solid black;
}

.create-post,
.create-btn,
.create-comment,
.add-like,
.login,
.sign-up,
.confirmation,
.reset-password {
  padding: 10px;
  box-shadow: 4px 4px 3px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.create-comment,
.add-like {
  margin-top: 20px;
  margin-right: 10px;
}

.create-post:hover,
.create-comment:hover,
.create-btn:hover {
  color: green;
}

.add-like:hover {
  color: purple;
}

.buttons {
  display: flex;
}

.form-container .links {
  font-size: 1.2rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container .links a{
  color: blue;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .form-container * {
    max-width: 80vw;
  }
}

@media only screen and (min-width: 768px) {
  .form-container input[type=text],
  .form-container input[type=email],
  .form-container input[type=password] {
    min-width: 500px;
  }
}
